.container-form-details input[type="radio"]:disabled {
    -webkit-appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
}

.container-form-details input[type="radio"]:checked {
    background-color: rgb(37, 220, 21);
}

.container-form-details input[type="checkbox"]:checked  {
    accent-color: rgb(37, 220, 21);
  }
